.FavJoke_Div {
  padding: 30px 30px;
}

.FavJoke {
  padding: 10px 10px 20px 10px;
  width: 60%;
  word-wrap: break-word;

  border: 1px solid black;
  border-radius: 20px 20px 0px 20px;

  font-size: 0.8rem;
  font-weight: bold;

  position: relative;
}
