.Phone_TopBar_Camera {
  height: 60%;
  width: 5%;
  background-color: #5c5c5c;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Phone_TopBar_Camera_2 {
  height: 70%;
  width: 70%;
  background-color: #696969;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Phone_TopBar_Camera_3 {
  height: 45%;
  width: 40%;
  background-color: #474747;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
